server:
  port: 8010
spring:
  rabbitmq:
    host: localhost
    port: 5672
  cache:
    type: redis
    redis:
      time-to-live: 600000
  redis:
    port: 6379
    host: localhost

jsd:
  rabbitmq:
    queue: jsd.queue1
    exchange: jsd.direct1
    routingkey: jsd.routingkey1
jst:
  rabbitmq:
    queue: jst.queue1
    exchange: jst.direct1
    routingkey: jst.routingkey1

