div.card{
  align-items: center;
  float: left;
  position: relative;
  top: 120px;
  left: 550px;
  border: 1.7px solid blue;
  border-radius: 35px;
  box-shadow: 0 70px 100px 0 rgba(0,0,0,0.7 );
  width: 290px;
  height: 390px;


}
::-webkit-input-placeholder {
  text-align: center;
}
#loginbutton{
  margin-right: 20px;
  margin-left: 30px;
  margin-top: 5px;
  border-radius: 100px;
  background-color: royalblue;
  width: 120px;
  color: snow;
}
#exampleInputEmail1,#exampleInputPassword1{

border:none;
border-width: 0px;
}
/* #secondcolour{
  background-color: red;
  width: 100%;
  height: 50%;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-evenly;


}
#firstcolour{
  box-sizing: border-box;
  justify-content: space-evenly;

background-color: blue;
height: 50%;
width: 100%;
flex-direction: column;


} */
h5{
  text-align: center;
  margin-bottom: 20px;
}

#firstcolour{
/* background-color: rgb(185, 214, 242); */
width: 100%;
height: 768px ;
/* border-bottom: 20em solid rgb(6, 26, 64); */
background-image: url('/assets/images/newlog.jpg')

}

#profile{
  float: left;
  position: relative;
  left: 90px;
  margin-bottom: 10px;
}



.full-width {
  width: 100%;
}

  .division{
    background-attachment: fixed;
    background-size: cover;
  }

.inner{
  padding: 10%;
}

@media screen and (max-width: 700px){
  .inner{
    padding: 20%;
  }
}