ul{
    display: inline-flex;
    list-style-type: none;
    margin-left: 3%;
}

@media screen and (max-width: 600px) {
    ul{
        display: inline-flex;
        list-style-type: none;
        margin-left: 0%;
    }
}