

div.sticky {
  position: -webkit-sticky;
  position: fixed;
  width: 80px;
  border-radius: 80px;
  top: 75%;
  bottom: 34%;
  right: 0px;
  background-color: gainsboro;
  padding: 38px;
  font-size: 20px;
  right: 2%;
  padding-bottom: 45px;
  /* border: 1.2px solid black */
} 

.div.sticky:hover{
  background-color: black;
}

#plusicon:focus{
  background-color: black;
}


#plusicon{
  position: relative;
  margin-left: -148%;
  margin-top: -58%;
  padding-right: 2px;
}


.text-focus-in {
    padding: -1px;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    margin:0px;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 20px;
      padding-top: 10px;
      margin-left: -7%;
      font-size: 45px;
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-3-23 12:33:33
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
.text-pop-up-top {
    height: 145px;
    font-size: 50px;
    padding: -1px;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    margin:1px;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 20px;
      padding-top: 10px;
      margin-left: -5%;
      font-size: 45px;
	/* -webkit-animation: text-pop-up-top 3.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-top 3.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
}
/* ----------------------------------------------
 * Generated by Animista on 2019-3-23 12:29:15
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-pop-up-top
 * ----------------------------------------
 */
 @-webkit-keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  @keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  
.text-shadow-pop-right {
    padding: -1px;
    background-color: whitesmoke;
    color: white;
    text-align: center;
    margin:0px;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 20px;
      padding-top: 10px;
      margin-left: -7%;
      font-size: 45px;
	-webkit-animation: text-shadow-pop-right 0.6s both;
	        animation: text-shadow-pop-right 0.6s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-3-23 12:20:39
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-shadow-pop-right
 * ----------------------------------------
 */
 @-webkit-keyframes text-shadow-pop-right {
    0% {
      text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      text-shadow: 1px 0 #555555, 2px 0 #555555, 3px 0 #555555, 4px 0 #555555, 5px 0 #555555, 6px 0 #555555, 7px 0 #555555, 8px 0 #555555;
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  @keyframes text-shadow-pop-right {
    0% {
      text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      text-shadow: 1px 0 #555555, 2px 0 #555555, 3px 0 #555555, 4px 0 #555555, 5px 0 #555555, 6px 0 #555555, 7px 0 #555555, 8px 0 #555555;
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
    

.tracking-in-expand-fwd {
    color: white;  margin-left: 33%;
  margin-bottom: 14%;
  margin-top: 3%;    font-family: inherit;
    font-size: 24px;
	-webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-3-23 12:1:6
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  

.tracking-in-expand1 {
    color: white;  margin-left: 33%;
  margin-bottom: 14%;
  margin-top: 3%;    font-family: inherit;
    font-size: 24px;
	-webkit-animation: tracking-in-expand1 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) reverse both;
	        animation: tracking-in-expand1 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) reverse both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-3-23 11:58:21
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand1 {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand1 {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  

.tracking-in-expand {
    color: white;
    margin-left: 33%;
    margin-top: 6%;
    font-size:45px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-3-23 11:47:21
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  

.tracking-in-expand-fwd-bottom {
    color: white;  margin-left: 33%;
  margin-bottom: 16%;
  margin-top: 4%;    font-family: inherit;
    font-size: 24px;
	-webkit-animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.2s both;
	        animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.2s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-3-23 11:41:48
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand-fwd-bottom {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px) translateY(500px);
              transform: translateZ(-700px) translateY(500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand-fwd-bottom {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px) translateY(500px);
              transform: translateZ(-700px) translateY(500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  

.kenburns-top {
    margin-top: 0.5%;
    height: 100%;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    background-image: url('../../assets/images/ground.jpeg');
    background-size: cover;
	-webkit-animation: kenburns-top 5s ease-out both;
	        animation: kenburns-top 5s ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-3-23 11:10:33
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
 @-webkit-keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
              transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  @keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
              transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }

  #lastt{
    background-image: url('../../assets/images/bh.jpeg');
    background-attachment: fixed;
    margin-bottom: 3%;

  }

  #someofthis{
    background-image: url('../../assets/images/books.jpeg');
    margin-top: -4%;
  }
  #j{
    color: white;
  }

  #j:hover{
    color: black;
  }

.cent{
    margin-top: 3%;
    display: block;
    margin-left: 0.5%;
    width: 38%;
    text-align: center;
    background-color: white;
    border-radius: 3px 140px 140px 3px;
    padding: 10px;
    font-size: 1.6rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    
}

.cent1{

    float: right;
    padding-right: 6%;
    margin-top: 3%;
    /* text-align: center; */
        /* color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic; */
}   


h1.cent1 {
    font-family: 'Kersse',helvetica,sans-serif;
    margin-top: 3%;
    color: white;
    text-decoration: none;
    /* margin-right: 5%; */
    font-size: 20px;
    font-weight: lighter;
    /*transition*/
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
}
h1.cent1:hover {
    margin-top: 3%;
    font-family: 'Kersse',helvetica,sans-serif;
    color: aqua;
    text-decoration: none;
    text-shadow: 0 0 100px #666,                
				 0 0 60px #666,                
				 0 0 60px #666,                
				 0 0 60px #666,                
				 0 0 60px #666,                
				 0 0 23px #000,                
				 0 0 23px #000,                
				 0 0 23px #000,               
				 0 0 23px #000,                
				 0 0 23px #000;
}

/* .cent2{
    margin-right: -45%;
    font-size: 20px;
    transition: transform 0.2s ease-in;
}
.cent2:hover{
    transition-delay: 50s;
    color: red;
    font-size: 25px;
    text-underline-position: none;
} */

#heading{
    margin-left: 40%;
}

.bloc{
    transition:0.5s;
}
.bloc:hover{
    transform: translateX(10px);

}
#heading{
    box-align: center;
}




form{
    padding: 40px;
    color: white;
}

/* body{
    max-width: 100%;
     background: url('../../assets/images/bulb.jpeg'); 
    background-attachment: fixed;
    background-size: cover;
    max-height: 100%;
    overflow: none;
} */

button:hover{
    color: white;
}
button{
    color: black;
}

.biglist{
    list-style-type:none;
    padding:-4px;
    margin-right: -18px;
    width: 100%;

}


@media screen and (max-width: 600px){


    .cent{
        margin-top: 3%;
        display: block;
        margin-left: 12%;
        width: 60%;
        text-align: center;
        background-color: aquamarine;
        border-radius: 3px 80px 80px 3px;
        padding: 10px;
        font-size: 1.1rem;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        
    }

}




