.cent{
    text-align: center;
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
.cent1{
    text-align: center;
    /* padding: 10px; */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}   

.cent2{
    margin-right: -45%;
    font-size: 30px;
    /* float: right; */
}

#heading{
    margin-left: 40%;
}

.bloc{
    transition:0.5s;
}
.bloc:hover{
    transform: translateX(10px);

}
#heading{
    box-align: center;
}




form{
    padding: 40px;
    color: white;
}

body{
    max-width: 100%;
     background: url('../../assets/images/bg1.jpeg'); 
    background-attachment: fixed;
    background-size: cover;
    max-height: 100%;
}
button:hover{
    color: white;
}
button{
    color: black;
}

.biglist{
    list-style-type:none;
    padding:-4px;
    margin-right: -18px;
    width: 100%;

}


@media screen and (max-width: 600px){

}




