
#baap{
    margin-left: 10%;
}
.spaci{
    padding: 6px;
}
.container{
    padding-top: 40px;
    margin-left: 5%;
}
.votes{
    margin-left: 10%;
}
.votes1{
    margin-left: 10%;
    padding-top: 5%;
    padding-bottom: 2%;
    margin-right: 8%;
}
.space{
    padding: 10px;
}
#space1{
    margin-left: 40%;
    padding: 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
#by{
    margin-left:50%;
}

ul{
    list-style-type: none;
}

.spacing{
    margin-left: 5%;
}

#divide{
    border: 1px solid white;
    background-color: gainsboro;
    border-radius: 5px;
    margin-right: 10%;
    margin-top: 10%;
    margin-left: 10%;
}

#bord{
    border: 1px solid whitesmoke;
    border-radius: 10px;
    background-color:rgb(231, 227, 227,0.9);
    margin-left: -12%;
    margin-right: 12%;
    max-width: 100%;
}
#ron{
    margin-left: 6%;
}
#ans{
    padding: 10px;
    margin-right: 10%;
    border:1px solid white;
    border-radius: 10px;
    background-color: white;
}
#this{
    /* margin-left: 80%; */
    float: right;
    overflow: hidden;
}
#comment{
    border: 2px solid ghostwhite;
    border-radius: 5px;
    background-color:gainsboro;
    padding: 10px;
    margin-right: 10%;
    margin-bottom: 3%;
    overflow: hidden;
    width: 85%;

}


#comment1{
    border: 2px solid ghostwhite;
    border-radius: 5px;
    background-color:gainsboro;
    padding: 0px;
    margin-right: 10%;
    margin-bottom: 3%;
    overflow: hidden;
    margin-left: -4%;

}
#reply{
    border: 1px solid whitesmoke;
    border-radius: 5px;
    background-color: whitesmoke;
    margin-bottom: 2%;
    color: black;
}

#replies{
    float:right;
    padding: 10px;
}

body{
    max-width: 100%;
    background: url('../../assets/images/wall2.jpg');
    padding-left: 20%;
    background-attachment: fixed;
    background-size: cover;
    max-height: 100%;
    /* display: inline-flex; */

}
/* 
#butt{
    width: 90%;
    margin-left: 5%;
} */

#viewMore{
    width: 25%;
    margin-left: 2%;
}

#reply1{
    float:right;
    padding: 10px;
}

#border{
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 2%;
}

@media screen and (max-width: 1018px){
    #divide1{
        padding: 0px;
    }

    #divide1{
        margin-left: 7%;
    }
}

@media screen and (max-width: 900px){

    #smaller{
        padding: 0px;
    }

    #divide{
        padding: 0px;
    }

    #reply1{
        float: none;
    }

    #divide1{
        padding: 0px;;
    }

    #smaller{
        padding: 10px;
    }

    #comment1{
        padding: 0px;
        margin-right: 0%;
        margin-bottom: 3%;
        overflow: hidden;
        margin-left: -8%;
    }

    #comment{
        padding: 4px;
        margin-right: 0%;
        margin-bottom: 3%;
        overflow: hidden;
    }

    #reply{
        padding: 0px;;
    }
    
    #replies{
        float: none;
    }

    #divide{
        padding: 0px;
    }

    #this{
        float: none;
    }

}


@media screen and (max-width: 600px) {

    #smaller{
        padding: 5px;
    }

    #border{
        margin-bottom: 2%;
    }

    #ans{
    margin-right: 3%;
    }

    #baap{
        margin-left: 3%;
    }

    body{
        padding-left: 2%;
    }

    #bord{
        margin-left: -1%;
        margin-right: -1%;
    }

    #comment1{
        border: 2px solid ghostwhite;
        border-radius: 5px;
        background-color:gainsboro;
        padding: 4px;
        margin-right: 0%;
        margin-bottom: 0%;
        overflow: hidden;
    
    }

    ul{
        padding: 0px;
    }

    #divide{
        border: 1px solid white;
        background-color: gainsboro;
        border-radius: 5px;
        margin-right: 0%;
        margin-top: 10%;
        margin-left: 0%;
    }

    #comment{
        border: 2px solid ghostwhite;
        border-radius: 5px;
        background-color:gainsboro;
        padding: 4px;
        margin-right: 9%;
        margin-top: 9%;
        margin-bottom: 3%;
        overflow: hidden;
        width: 96%;
    }

    #viewMore{
        width: 50%;
    }

    #butt{
        width: 100%;
    }

    #butt2{
        width: 100%;
    }

    #space1{
        margin-left: 4%;
        padding: 10px;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 20px;
    }

    .container{
        margin-left: 0%;
    }
}