

 .notification {
  background-color: #555;
  color: white;
  text-decoration: none;
  padding: 3px 4px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  background: red;
}
#myDropdown{
  background-color: white;

}
#log{
  margin-left:1270%;
  margin-top:40%;
}




.notification .badge {
  position: absolute;
  padding-top:20%;
  top: -10px;
  right: -10px;
  padding: 3px 5px;
  border-radius: 50%;
  background: red;
  color: white;
}

.dropdown {
  margin-left:2300%;
  padding-top: 50%;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
.biglist,.smalllist{
  list-style: none;
}
.biglist{
padding-left: 35%;
}

.smalllist{
 margin-left:-74%;
}