
  <div class="aboutus">
    <div class="beleft">
      <div class="card" id="card1">
        <img class="card-img-top" src="../../assets/images/fast.jpg" alt="Card image cap" style="    max-height: 180px;
        max-width: 180px;
        margin-left: -13%;
        margin-top: 7%;
        min-width: 250px;">
        <div class="card-body">
          <h5 class="card-title">We are faster</h5>
        </div>
      </div>
      <br>
      <br>
      <div class="card" id="card2">
        <img class="card-img-top" src="../../assets/images/accurate.png" alt="Card image cap" style="max-height: 180px;
        max-width: 180px;">
        <div class="card-body">
          <h5 class="card-title">We Are Accurate</h5>
        </div>
      </div>
      <br>
      <br>
      <div class="card" id="card6">
        <img class="card-img-top" src="../../assets/images/mobile.jpg" alt="Card image cap" style="    max-height: 180px;
        max-width: 180px;
        margin-left: 5%;
        margin-top: 15%;">
        <div class="card-body">
          <h5 class="card-title">Mobile Compatible</h5>
        </div>
      </div>
    </div>
    <div class="becenter">
      <div class="card" id="card5">
        <img class="card-img-top" src="../../assets/images/accesible.jpeg" alt="Card image cap" style="max-height: 180px;
        max-width: 180px;margin-left: 7%;
    margin-top: 10%;">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center">Accesible And Compatible</h5>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h1 class="heading">Why us you ask?</h1>
      <br>
      <button type="button" class="btn btn-outline-light" style="margin-left: 15%;border: 0px solid white;" routerLink=""><strong>Lets Head Back?</strong></button>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="card" id="card7">
        <img class="card-img-top" src="../../assets/images/free.png" alt="Card image cap" style="max-height: 180px;
        max-width: 180px;margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 4%;">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">Completely Free</h5>
        </div>
      </div>
    </div>
    <div class="beright">
      <div class="card" id="card3">
        <img class="card-img-top" src="../../assets/images/incognito-2231825_960_720.png" alt="Card image cap" style="max-height: 180px;
        max-width: 180px;min-width: 250px;
    margin-left: -10%;
    margin-top: 10%;">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center">Data Privacy</h5>
        </div>
      </div>
      <br>
      <br>
      <div class="card" id="card4">
        <img class="card-img-top" src="../../assets/images/addd.png" alt="Card image cap" style="max-height: 180px;
        max-width: 180px;    margin-left: 7%;
    margin-top: 5%;
    margin-bottom: -5%;">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">No Advertisement</h5>
        </div>
      </div>
      <br>
      <br>
      <div class="card" id="card8">
        <img class="card-img-top" src="../../assets/images/userfriendly.png" alt="Card image cap" style="max-height: 180px;
        max-width: 180px;margin-left: 5%;
    margin-top: 15%;">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">User Friendly</h5>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
