<br>
<body>
<div id="division">
    <form>
      <div id="question">
      <div class="form-group">
        <br>
        <br>
        <label for="exampleInputEmail1">Question:</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Enter your Question here" style="height: 40px;">
        </div>
    </div>
    </form>
    <div id="description" >
    <form>
      <div class="form-group">
        <label for="exampleFormControlTextarea1" style="font-size: 20px;text-align: center;">Enter the Description here:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Enter desription in here"></textarea>
      </div>
    </form>
  </div>
  <br>
  <br>
  <button type="button" id="butt" class="btn btn-dark btn-lg"  (click)="postQuestion()">Post your Question!</button>
  </div>
  <br>
  <br>
</body>