body{
    background:url('../../assets/images/paris.jpeg');
    background-attachment: fixed;
    background-size: cover;
    max-height: 100%;
    margin-top: -1%;
    max-width: 100%;
}

.badges{
    margin-top: 0%;
    margin-left: 8%;
    -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s both;
	        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s both;

}

#topics2{
    font-size: large;
    text-align: center;
    margin-top: 5%;
    -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s both;
	        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s both;

}

.chip {
    display: table-cell;
    padding: 0 25px;
    height: 45px;
    font-size: 16px;
    line-height: 45px;
    border-radius: 25px;
    background-color: white;
    color: black;
    margin-left: 1%;
    margin-top: 1%;
    transform: scale(1,1);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  
  .chip img {
    float: left;
    margin: 1px 4px 0px -15px;
    height: 44px;
    width: 43px;
    border-radius:45%;
  }

#division{
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    background-color: rgba(red, green, blue, alpha)
}

#question{
    width: 80%;
    margin-left: 10%;
    font-size: 30px;
    -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-3-24 11:33:2
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }
  @keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }


  #topics{
    font-size: large;
    text-align: center;
    -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s both;
	        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s both;

  }
  

#description{
    margin-left: 10%;
    width: 80%;
    margin-top: 8%;
    -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s both;
    animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s both;

}

#butt{
    margin-left: 17%;
    width: 70%;
    border: 1.2px solid white;
}

.chip:hover{
    transform: scale(0.9,0.9);
    background-color: rgb(86, 194, 194);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

}

@media screen and (max-width: 600px) {
    #butt{
        margin-left: 0%;
        width: 100%;
    }

    .badges{
        margin-top: 0%;
        margin-left:-5%;
        
    }
}