
input[type=text] {
    width: 120px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    /* background-image: url('searchicon.png'); */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=);
    background-position: 2px 2px; 
    background-repeat: no-repeat;
    padding: 10px 18px 10px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  }


nav{
    max-width: 100%;
}

div{
    padding-left: 5px;
    top: 0px;
    margin: 0x;
}

.w3-container{
    bottom: 0px;
    padding: 0x;
    margin: 0x;
}
.dropdown-menu{
    margin-top:50px;
    width:250px;
    
}

#search1{
color: rgb(233, 234, 245);
background-color: rgb(47, 49, 48);
}
#search1:hover{
    color: green;
    background-color:white;
    }

img{
    bottom: 0px;
    padding: 0x;
    margin: 0x;
}

button:hover{
    color: green;
    /* font-display: white; */
}
button{
    color: white;
    background-color: rgb(47, 49, 48);
}
.biglist{
    list-style-type:none;
    padding:1px;
    margin-right: -1px;
    width: 100%;
}
@media screen and (max-width: 600px){
    pre{
        margin: -12px;
    }
    .dropdown-menu{
        margin-top:10px;
        width:100%;
        
    }
}