<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <!--Here below is the image of the website-->
  <a class="navbar-brand" href="#">
    <div class="w3-container">
      <img src="../../assets/images/t5.jpeg" class="w3-circle" alt="Logo" style="width:40px">
    </div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <pre id="rep">                        </pre>
      <form class="form-inline my-2 my-lg-0">
        <input type="text" class="form-control" type="search" name="value" [(ngModel)]="value" placeholder="Search"
          aria-label="Search" size="46">
        <pre></pre><button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="putSearchVal()"
          routerLink="/searchresult">Search</button>
      </form>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">


        <li class="nav-item active" *ngIf="check1">
          <!-- <a class="nav-link" routerLink="/"><i class="far fa-bell" style="size: 20px;"></i><span class="sr-only"></span></a> -->
          <!-- <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Dropdown</button>
            <button class="notification" (click)=myFunction()>
              <i class="far fa-bell"></i>
              <span class="badge">{{data.length}}</span>
            </button>
            <div id="myDropdown" class="dropdown-content">
              <ul class="biglist">
                <li><strong>Notifications</strong></li>
                <li>
                  <ul *ngIf='data' class="smalllist">
                    <li *ngFor='let d of data'>
                      <app-notify [notification]=d></app-notify>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div> -->
        </li>


        <pre> </pre>
        <li class="nav-item active" *ngIf="check1">
          <a class="nav-link" routerLink="/myprofile">My Profile <span class="sr-only">(current)</span></a>
        </li>
        <pre> </pre>
        <li>
          <button type="button" class="btn btn-outline-light" *ngIf="check1" (click)="logout()">LogOut</button>
        </li>
        <li>
          <button type="button" class="btn btn-outline-light" *ngIf="!check1" routerLink="/login">Login</button>
        </li>
        <pre> </pre>
        <li>
          <button type="button" class="btn btn-outline-light" *ngIf="!check1" routerLink="/register">Sign Up</button>
        </li>
      </ul>
    </form>
  </div>
</nav>
<br>
<br>

<router-outlet></router-outlet>