nav{
    max-width: 100%;
}

div{
    padding-left: 5px;
    top: 0px;
    margin: 0x;
}

.w3-container{
    bottom: 0px;
    padding: 0x;
    margin: 0x;
}

img{
    bottom: 0px;
    padding: 0x;
    margin: 0x;
}

@media screen and (max-width: 600px){
    pre{
        margin: -12px;
    }
}



