.cards{
    border-radius: 1%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 2px;
    position: relative;
    margin-left: 20px;
    transform: scale(0.95,0.95);
    transition: transform 0.2s ease-in;
}

.cards:hover{
    background-color:rgb(96, 96, 248);
    transform: scale(0.9,0.9);
    transition: transform 0.2s ease-out;
}

.texxt{
    color: white;
    
}