<!-- <div class="card" style="width: 18rem;"> -->
        <!-- <img class="card-img-top" style="height: 300px;" src="{{getImage1}}" alt="Singer Image"> -->
        <!-- <div class="card-body">
          <h5 class="card-title">Track Details</h5>
        </div> -->
        <!-- <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngIf="getName">TrackName:{{getName}}</li>
          <li class="list-group-item" *ngIf="getId">TrackId{{getId}}</li>
          <li class="list-group-item"*ngIf="getArtist1">ArtistName{{getArtist1}}</li>
        </ul> -->
      <!-- </div> -->

  <mat-card class="cards">
<a href="#">{{notification}}</a>
</mat-card>




<!-- <ul *ngIf='data'>
        <li *ngFor='let d of data'>
            note1: {{d}}
        </li>
      </ul> -->